$body-size: 18px;
$body-size-mobile: 18px;

$ref-width: 1440px;
$ref-width-mobile: 375px;

$fg-color: #1b1b1b;
$bg-color: #ffffff;

$header-height: 80px;
$header-height-mobile: 80px;

$body-font-family: sans-serif;

$vw-ref-width: $ref-width; // Init vw ref width

@mixin mobile-portrait {
  @media screen and (orientation: portrait) and (max-width: 600px) {
    $vw-ref-width: $ref-width-mobile !global;
    @content;
    $vw-ref-width: $ref-width !global;
  }
}

@mixin any {
  @content;
  @include mobile-portrait {
    @content;
  }
}

// Extendable classes

